<div class="card-container">
    <button class="card card-small" (click)="selection = 'add'" tabindex="0">
        <mat-icon aria-label="remove">add</mat-icon>
        <span>Add a player</span>
    </button>
    
    <button class="card card-small" (click)="selection = 'remove'" tabindex="0">
        <mat-icon aria-label="remove">remove</mat-icon>
        <span>Remove a player</span>
    </button>
    
    <button class="card card-small" (click)="selection = 'newRound'" tabindex="0">
        <mat-icon aria-label="close fullscreen">close_fullscreen</mat-icon>
        <span>New Round</span>
    </button>
    
    <button class="card card-small" (click)="selection = 'endTournament'" tabindex="0">
        <mat-icon aria-label="sports_score">sports_score</mat-icon>
        <span>End Tournament</span>
    </button>
</div>