<mat-card style="margin-top: 25px;margin-bottom: 25px"> 
    <mat-card-title style="align-self: center;">The Rules:</mat-card-title>
    <mat-card-content><p>- 5-6 rounds, <b>10 minutes + 5 sec increment</b><br>
        - Swiss style tournament (no one gets eliminated)<br>
        - you get matched with people who have done just as well or as poorly as yourself <br>
        - points: <b>1</b> for win, <b>0.5</b> for draw, <b>0</b> for loss<br>
        - no one person should get the same color more than twice in a row<br>
        - there is a tiebreak for 1st place with 5 minute time control</p>
    </mat-card-content>
</mat-card>