<table mat-table>
  <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
    <!-- Name  -->
    <ng-container matColumnDef="names">
      <th mat-header-cell *matHeaderCellDef style="width: 100px;">Names</th>
      <ng-container *ngFor="let player of players">
        <td mat-cell> 
          <!-- <span style="font-size:small;">  -->
            <span>{{player.name}} {{player.elo}}</span>
          <!-- </span> -->
        </td>
      </ng-container>
    </ng-container>

    <!-- Round 1  -->
    <ng-container matColumnDef="round1">
      <th mat-header-cell style="width: 80px;" *matHeaderCellDef>Round 1</th>
    </ng-container>

    <!-- Score  -->
    <ng-container matColumnDef="score">
      <th mat-header-cell style="width: 80px;" *matHeaderCellDef>Score</th>
    </ng-container>
</table>